<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>
  	<div id="wrap" class="loading">
  		<header>
        <div id="today_is">
          <div id="date"></div>
          <div id="time"></div>
        </div>
        <nav id="days"></nav>
      </header>
  		<section id="content">
        <div id="channels_wrap">
          <h6>Каналы:</h6>
          <div id="channels"></div>
        </div>
        <div id="programms_wrap">
          <div id="programms_slider">
            <div id="scale" class="clearfix"></div>
            <div id="programms"></div>
            <i id="timepoint"></i>
          </div>
        </div>
  		</section>
  		<footer>
        <button id="move_to_now">Сейчас в эфире</button>
        <div id="days_controls">
          <button id="prev_day"></button>
          <button id="next_day"></button>
          <span>переход по дням</span>
        </div>
        <div id="slider_wrap">
          <input id="scroll" type="range" min="0" step="30" max="960" value="0">
          <span>Полистать программу</span>
        </div>
      </footer>
  	</div>
  </body>
</html>